table { 
    border-spacing: 0px;
    border-collapse: collapse;
}

table, table td, table th {
    border-left-width: 0;
    border-right-width: 0;
}

table td.text-right {
    text-align: right;
}

table td.text-left {
    text-align: left;
}

table td.text-center {
    text-align: center;
}

table td.text-bottom, thead td {
    vertical-align: bottom;
}

table.stat-table tbody tr th,
table.stat-table tbody tr td,
table.hotspot-table tbody tr td {
    cursor: pointer;
}

table.stat-table tr.highlight th,
tr.highlight td {
    background-color: yellow;
}

.text-indent-1 {
    text-indent: -1em;
    padding-left: 1em;
}