<table class="hotspot table" 
       border="1" 
       cellpadding="5"
       data-file-name="{{ file_name }}">
    <caption>
        {{ file_name}} HotSpot Result ({{ direction }})
    </caption>
    <thead>
        <tr>
            <th>RHS ({{ target_attr }})</th>
            <th>LHS</th>
            <th align="right">Cover</th>
            <th align="left" title="Confidence">Conf.</th>
            <th align="right">Lift.</th>
            <th align="right" title="Leverage">Lev.</th>
            <th align="right" title="Conviction">Conv.</th>
            <th align="left">Test</th>
            <th align="left" title="comparation">Comp.</th>
        </tr>
    </thead>
    <tbody>
        {{ #group_html_array }}
            {{{ . }}}
        {{ /group_html_array }}
    </tbody>
</table>