<table class="hotspot-table" 
       border="1" 
       cellpadding="5"
       data-file-name="{{ file_name }}">
    <caption>
        {{ file_name}} {{ #i18n }}HotSpot Result{{ /i18n }} ({{ #i18n }}Target {{ direction }}{{ /i18n }})
    </caption>
    <thead>
        <tr>
            <th align="left">{{ #i18n }}RHS{{ /i18n}} ({{ target_attr }})</th>
            <th align="left">{{ #i18n }}LHS{{ /i18n}}</th>
            <th align="right">{{ #i18n }}Cover{{ /i18n}}</th>
            <th align="left" title="Confidence">{{ #i18n }}Conf.{{ /i18n}}</th>
            <th align="right">{{ #i18n }}Lift.{{ /i18n}}</th>
            <th align="right" title="Leverage">{{ #i18n }}Lev.{{ /i18n}}</th>
            <th align="right" title="Conviction">{{ #i18n }}Conv.{{ /i18n}}</th>
            <th align="left">{{ #i18n }}Test{{ /i18n}}</th>
            <th align="left" title="comparation">{{ #i18n }}Comp.{{ /i18n}}</th>
        </tr>
    </thead>
    <tbody>
        {{ #group_html_array }}
            {{{ . }}}
        {{ /group_html_array }}
    </tbody>
    {{{ tfoot_html }}}
</table>