<td>
    {{ lhs_item.attribute }}
    {{ lhs_item.operator }}
    {{ lhs_item.value }}
</td>
<td class="lhs cover-instance" align="right">
    {{ lhs_item.match_instances }} / {{ lhs_item.population }}
</td>
<td class="lhs cover" align="left">
    {{ lhs_item.cover }}%
</td>
<td class="lhs conf" align="right">
    {{ lhs_item.conf }}%
</td>
<td class="lhs lift" align="right">
    {{ lhs_item.lift }}
</td>
<td class="lhs lev" align="right">
    {{ lhs_item.lev }}
</td>
<td class="lhs conv" align="right">
    {{ lhs_item.conv }}
</td>
<td class="lhs test">
    {{ test_func }}
</td>
<td class="lhs comp">
    {{ comp_func }}
</td>