<td class="lhs rule text-indent-1" valign="top">
    {{ lhs_item.attribute }}
    {{ lhs_item.operator }}
    {{ lhs_item.value }}
</td>
<td class="lhs cover-instance" align="right" valign="top">
    {{ lhs_item.match_instances }} / {{ lhs_item.population }}
</td>
<td class="lhs conf" align="left" valign="top">
    {{ conf_func }}%
</td>
<td class="lhs lift" align="right" valign="top">
    {{ lhs_item.lift }}
</td>
<td class="lhs lev" align="right" valign="top">
    {{ lhs_item.lev }}
</td>
<td class="lhs conv" align="right" valign="top">
    {{ lhs_item.conv }}
</td>
<td class="lhs test text-indent-1" valign="top">
    {{{ test_func }}}
</td>
<td class="lhs comp text-indent-1" valign="top">
    {{{ comp_func }}}
</td>