<tr data-lhs-attr="{{ attr }}">
    <th class="attr text-indent-1" rowspan="{{ rowspan }}" valign="top" align="left">
        {{ attr }}
        {{{ test_html }}}
    </th>
    
    {{ #avg_html }}
    <th valign="top" align="left">
        {{ #i18n }}Avg.{{ /i18n }}
    </th>
        {{{ avg_html }}}
    {{ /avg_html }}
    {{ #median_html }}
    <th valign="top" align="left">
        {{ #i18n }}Med.{{ /i18n }}
    </th>
        {{{ median_html }}}
    {{ /median_html }}
</tr>
{{ #stddev_html }}
<tr data-lhs-attr="{{ attr }}">
    <th valign="top" align="left">
        {{ #i18n }}Stddev.{{ /i18n }}
    </th>
    {{{ stddev_html }}}
</tr>
{{ /stddev_html }}
{{ #iqr_html }}
<tr data-lhs-attr="{{ attr }}">
    <th valign="top" align="left">
        {{ #i18n }}IQR.{{ /i18n }}
    </th>
    {{{ iqr_html }}}
</tr>
{{ /iqr_html }}
<tr data-lhs-attr="{{ attr }}" class="post-hoc">
    <th valign="top" align="left">
        {{ #i18n }}Post Hoc{{ /i18n }}
    </th>
    {{{ posthoc_html }}}
</tr>