<!DOCTYPE html>
<html>
    <head>
        <title>{{ #i18n }}Full Report{{ /i18n }} ({{ date }})</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" type="text/css" href="style.css"> 
        <!--
        <link rel="stylesheet" type="text/css" href="../../output-style/style.css"> 
        -->
    </head>
    <body>
        <a id="top" />
        <h1>{{ #i18n }}Full Report{{ /i18n }} ({{ date }})</h1>
        
        <ul>
            {{ #single-report }}
            <li><a href="#{{ file_name }}">{{ file_name }}</a></li>
            {{ /single-report }}
        </ul>
        
        <hr />
        {{ #single-report }}
            <a id="{{ file_name }}" />
            {{{ body_html }}}
            <a href="#top" class="top">top</a>
        {{ /single-report }}
        
        
        <script src="jquery.js"></script>
        <script src="script.js"></script>
        <!--
        <script src="../../output-style/jquery.js"></script>
        <script src="../../output-style/script.js"></script>
        -->
    </body>
</html>
