<!DOCTYPE html>
<html>
    <head>
        <title>{{ file_name }} ({{ date }})</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--
        <link rel="stylesheet" type="text/css" href="style.css"> 
        -->
        <link rel="stylesheet" type="text/css" href="../../output-style/style.css"> 
    </head>
    <body>
        <h1>{{ file_name }} ({{ date }})</h1>
        {{{ body_html }}}
        
        <!--
        <script src="jquery.js"></script>
        <script src="script.js"></script>
        -->
        <script src="../../output-style/jquery.js"></script>
        <script src="../../output-style/script.js"></script>
    </body>
</html>
